Unable to log in through dillo.

<!-- NOTE:
**please use english, or include an english translation.** aside from that,  
all of the below are optional, consider them as inspiration, delete and rewrite at will, thx md -->

### Describe the bug
I can't really interact well with the interface through the dillo browser. It's a low-resource browser that I use on my linux systems, and I prefer it for interaction with systems.

### To Reproduce
- Open dillo
- Go to server
- Try logging in, no effect. Clicking does nothing. Doesn't load or anything.

### Expected behavior
Logs me in.

### Screenshots
I'm away right now so I can't send them through this but just install Dillo and it'll work.

### Server details (if you are using docker/podman)
remove the ones that are not relevant:
- Arch/Debian

it seems there are two things dillo does different from every other browser I've seen;

* dillo announces its boundary with quotes;
  * dillo: Content-Type: multipart/form-data; boundary="W4lODCYxKPKPadZRqCsxJkiaXcvOUPgHJrjaR6ypL62K7SrniHKRRQQDQ9hBOn6lDfkibI"
  * others: Content-Type: multipart/form-data; boundary=----geckoformboundaryeca88743f89c7e4b491e080b8dc2ee3c

* dillo does not send the final terminating \r\n in the post body

I'll doublecheck whether these traits are spec-compliant before trying to add any fixes -- it is curious that I've never seen any other browsers diverge from the de-facto standard way to send multipart-posts, considering that even includes browsers such as ie4, netscape2, and links/lynx/etc

> * dillo announces its boundary with quotes;

according to RFC 2046 (MIME Part Two), this is valid (and required depending on what characters are in the boundary), [dillo always quotes](https://github.com/dillo-browser/dillo/blob/90488cbf4620418ceade0ad48f85f280f5d761d2/src/IO/http.c#L362) despite [never sending unsafe characters](https://github.com/dillo-browser/dillo/blob/90488cbf4620418ceade0ad48f85f280f5d761d2/src/form.cc#L1307) (free PR anyone?)
> [5.1.1](https://www.rfc-editor.org/rfc/rfc2046.html#section-5.1.1).  Common Syntax
>    WARNING TO IMPLEMENTORS:  The grammar for parameters on the Content-
>    type field is such that it is often necessary to enclose the boundary
>    parameter values in quotes on the Content-type line.  This is not
>    always necessary, but never hurts. Implementors should be sure to
>    study the grammar carefully in order to avoid producing invalid
>    Content-type fields.  Thus, a typical "multipart" Content-Type header
>    field might look like this:
> 
>      Content-Type: multipart/mixed; boundary=gc0p4Jq0M2Yt08j34c0p
> 
>    But the following is not valid:
> 
>      Content-Type: multipart/mixed; boundary=gc0pJq0M:08jU534c0p
> 
>    (because of the colon) and must instead be represented as
> 
>      Content-Type: multipart/mixed; boundary="gc0pJq0M:08jU534c0p"
> 

[RFC7231](https://datatracker.ietf.org/doc/html/rfc7231#section-3.1.1.4) refers to MIME for the syntax of multipart

---

> * dillo does not send the final terminating \r\n in the post body

according to RFC7230 (Hypertext Transfer Protocol (HTTP/1.1): Message Syntax and Routing), this is actually required in HTTP/1.1 and everyone else is doing it wrong:

> [3.5](https://datatracker.ietf.org/doc/html/rfc7230#section-3.5).  Message Parsing Robustness
> 
>    Older HTTP/1.0 user agent implementations might send an extra CRLF
>    after a POST request as a workaround for some early server
>    applications that failed to read message body content that was not
>    terminated by a line-ending.  An HTTP/1.1 user agent MUST NOT preface
>    or follow a request with an extra CRLF.  If terminating the request
>    message body with a line-ending is desired, then the user agent MUST
>    count the terminating CRLF octets as part of the message body length.